/* || SECONDARY */
:host([variant="secondary"]) {
  --md-fab-background-color: var(--md-sys-color-secondary-container);
  --md-fab-foreground-color: var(--md-sys-color-on-secondary-container);

  --md-elevation-level: 1;

  --md-fab-pressed-state-color: color-mix(
    in oklch,
    var(--md-sys-color-secondary-container),
    var(--md-sys-color-on-secondary-container) 12%
  );
  --md-fab-pressed-state-opacity: 1;
}

:host([variant="secondary"]:hover:not([disabled])) {
  --md-fab-background-color: color-mix(
    in oklch,
    var(--md-sys-color-secondary-container),
    var(--md-sys-color-on-secondary-container) 8%
  );

  --md-elevation-level: 2;
}

:host([variant="secondary"]:focus-visible:not([disabled])) {
  --md-fab-background-color: color-mix(
    in oklch,
    var(--md-sys-color-secondary-container),
    var(--md-sys-color-on-secondary-container) 12%
  );
}

:host([variant="secondary"]:active:not([disabled])) {
  --md-fab-background-color: color-mix(
    in oklch,
    var(--md-sys-color-secondary-container),
    var(--md-sys-color-on-secondary-container) 12%
  );

  --md-elevation-level: 1;
}

:host([variant="secondary"]:where([disabled])) {
  --md-fab-background-color: color-mix(
    in oklch,
    var(--md-sys-color-on-surface),
    transparent 88%
  );
  --md-fab-foreground-color: color-mix(
    in oklch,
    var(--md-sys-color-on-surface),
    transparent 38%
  );
  --md-elevation-level: -1;
}
