:host {
  --md-radio-background-color: transparent;
  --md-radio-border-color: var(--md-sys-color-on-surface-variant);
  --md-radio-active-state-color: color-mix(
    in oklch,
    transparent,
    var(--md-sys-color-on-surface) 12%
  );

  --_radio-container-color: var(--md-sys-color-primary);
  --_radio-box-container-color: var(--md-radio-background-color);
  --_radio-box-border-color: var(--md-radio-border-color);
}

:host {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  border-radius: 9999rem;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  padding: calc(0.688rem);
  background-color: var(--_radio-box-container-color);
}

:host([checked]) {
  --_radio-box-border-color: var(--md-sys-color-primary);
  --_radio-container-color: var(--md-sys-color-primary);
}

:host([disabled]) {
  --_radio-box-border-color: color-mix(
    in oklch,
    transparent,
    var(--md-sys-color-on-surface) 38%
  );

  --_radio-box-container-color: transparent;
  --_radio-container-color: color-mix(
    in oklch,
    transparent,
    var(--md-sys-color-on-surface) 38%
  );
}

.radio__input:hover:not([disabled]) {
  --_radio-box-container-color: color-mix(
    in oklch,
    transparent,
    var(--_radio-container-color) 8%
  );
}

.radio__input:active:not([disabled]) {
  --_radio-box-container-color: var(--md-radio-active-state-color);
}

.radio__box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  inset: 0px;

  overflow: hidden;
  background-color: var(--_radio-box-container-color);
}

.radio__box::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 0.125rem solid var(--_radio-box-border-color);

  border-radius: 9999rem;
}

.radio__box::after {
  position: absolute;
  background-color: var(--_radio-box-container-color);
  border-radius: 9999rem;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: "";
}

.radio__box_checked {
  border-color: var(--_radio-container-color);
}

.radio__box_checked::after {
  position: absolute;
  content: "";
  opacity: 1;
  transform: scale(0.475);
  border-radius: 100%;
  inset: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--_radio-container-color);
}

.radio__box_disabled {
  cursor: not-allowed;
}

.radio__ripple {
  --md-ripple-pressed-color: var(--_radio-container-color);
}

:host([disabled]) .radio__ripple {
  display: none;
}

.radio__input {
  border-radius: 9999rem;
  background-color: var(--_radio-box-container-color);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  appearance: none;
  z-index: 2;
  margin: 0;
}

.radio__input:focus-visible {
  outline: 0.1875rem solid var(--_radio-container-color);
  outline-offset: 0.125rem;
}
