.select__native-control {
  appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  color: currentColor;
  border: 0;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  position: relative;
}

.select__block {
  height: 1.5rem;
  line-height: var(--md-text-field-line-height, 1.5rem);
  width: 100%;
}

.select__native-control::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}
