.button {
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  place-items: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  border-width: 0;
  z-index: 0;
  color: inherit;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
  border: var(--_btn-container-border-size) solid
    var(--_btn-container-border-color);
  text-decoration: none;
  padding-inline: var(--_btn-container-space-left)
    var(--_btn-container-space-right);
  padding-block: var(--_btn-container-space-top)
    var(--_btn-container-space-bottom);
  margin: 0;
  appearance: none;
  font: inherit;
  font-family: var(--_btn-container-font-family, inherit);
  font-size: var(--_btn-container-font-size, 0.875rem);
  font-weight: var(--_btn-container-font-weight, 500);
  line-height: inherit;
  letter-spacing: var(--_btn-container-letter-spacing, 0.00625rem);
  background: none;
  overflow: hidden;
}

.button:focus-visible::before {
  outline: none;
  position: absolute;
  z-index: -1;
  inset: 0;
  content: "";
  border: 0.063rem solid var(--_btn-container-border-color);
}

.button_disabled {
  pointer-events: none;
}

.button__content {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

.button__content_hidden {
  padding-inline: 0;
}

.button__progress-circular {
  color: inherit;
}

.button__ripple {
  --md-ripple-pressed-color: var(--_btn-container-pressed-state-color);
  --md-ripple-pressed-opacity: 1;
}
