/* || ELEVATED */
:host([variant="elevated"]) {
  --md-elevated-background-color: var(--md-sys-color-surface-container-low);
  --md-elevated-foreground-color: var(--md-sys-color-primary);

  --md-button-background-color: var(--md-elevated-background-color);
  --md-button-foreground-color: var(--md-elevated-foreground-color);

  --md-button-border-color: transparent;

  --md-elevation-level: 1;

  --_opacity: var(--md-button-pressed-state-opacity);

  --md-button-pressed-state-color: color-mix(
    in oklch,
    var(--md-button-foreground-color) var(--_opacity),
    var(--md-button-background-color)
  );
}

:host([variant="elevated"]:hover:not([disabled])) {
  --_opacity: var(--md-button-hovered-state-opacity);
  --md-button-background-color: color-mix(
    in oklch,
    var(--md-sys-color-primary) var(--_opacity),
    var(--md-sys-color-surface-container-low)
  );

  --md-elevation-level: 2;
}

:host([variant="elevated"]:focus-visible:not([disabled])) {
  --_opacity: var(--md-button-pressed-state-opacity);

  --md-button-background-color: color-mix(
    in oklch,
    var(--md-sys-color-primary) var(--_opacity),
    var(--md-sys-color-surface-container-low)
  );
}

:host([variant="elevated"]:active:not([disabled])) {
  --_opacity: var(--md-button-pressed-state-opacity);
  --md-button-background-color: color-mix(
    in oklch,
    var(--md-sys-color-primary) var(--_opacity),
    var(--md-sys-color-surface-container-low)
  );
  --md-elevation-level: 1;
}

:host([variant="elevated"]:where([disabled])) {
  --md-button-background-color: color-mix(
    in oklch,
    var(--md-sys-color-on-surface),
    transparent 88%
  );
  --md-button-foreground-color: color-mix(
    in oklch,
    var(--md-sys-color-on-surface),
    transparent 38%
  );
  --md-elevation-level: -1;
}
